@media only screen and (min-width: 768px) {
  /* Hero Home */

  .hero-home-image {
    aspect-ratio: 16 / 9;
    background-position: inherit;
  }

  .hero-home-text {
    margin-top: 0;
    text-align: center;
    padding: var(--p-large);
  }

  /* Advantages */

  #advantages {
    justify-items: center;
  }

  .fortael,
  .vaelg,
  .skift {
    width: 80%;
    padding: var(--p-large);
    margin: var(--m-auto);
    text-align: center;
  }

  .awssld__container {
    padding-bottom: var(--slider-height-percentage) !important;
  }

  .quote-container {
    width: 70%;
  }

  .trustpilot img {
    width: 50%;
  }

  /* Card Courses  */

  #other-courses .awssld__container,
  #other-courses-desktop .awssld__container {
    padding-bottom: var(--slider-height-percentage);
  }

  .info-video-container {
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%; */
  }

  .video-description {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .video-price {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .video-description h4,
  .video-price h4,
  .card-price h4,
  .card-description h4 {
    width: 100%;
    margin: var(--mtb);
  }

  #about-us,
  #contact-us,
  #faq-questions {
    text-align: center;
  }
}
